a , h1 a { 
    text-decoration:none
}

h2,h3 {
    font-weight:50;
    letter-spacing:0
}

#footer { 
    text-align:center
}

body , html {
    margin:0;
    background-color:papayawhip;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center
}
::-moz-selection,::selection {
    background-color:firebrick;
    color:#fff
}
::-moz-selection {
    background-color:firebrick;
    color:#fff
}

a { 
    color:firebrick;
    border-bottom:1px dotted #000
}

#page-wrap { 
    min-width:725px;
    width:60%;
    padding:40px 60px;
    margin:0 auto
}

a:hover {
    opacity:.6
}

h1 {
    margin:0;
    font-size:4.4em;
    font-weight:400;
    letter-spacing:-1px
}

h1 a {
    color:#000;
    border:0
}

h2{
    margin:0;
    font-size:1.4em
}

form-holder {
    margin-top: 200px
}

form form {
    font-family:Arial, Helvetica, sans-serif;
    margin:30px 0;
    width:300px;
    text-align:center;
    align-content: center;
    align-items: center;
    align-self: center;
}

@-webkit-keyframes timeChart {
    0% {
        -webkit-transform:translateX(100%) skewX(-15deg);
        opacity:0
    }
    60% {
        -webkit-transform:translateX(-1%) skewX(15deg);
        opacity:1
    }
    80% {
        -webkit-transform:translateX(0) skewX(-10deg);
        opacity:1
    }
    100% {
        -webkit-transform:translateX(0) skewX(0);
        opacity:1
    }
}

@-moz-keyframes timeChart {
    0% {
        -moz-transform:translateX(100%) skewX(-15deg);
        opacity:0
    }
    60% {
        -moz-transform:translateX(-1%) skewX(15deg);
        opacity:1
    }
    80% {
        -moz-transform:translateX(0) skewX(-10deg);
        opacity:1
    }
    100% {
        -moz-transform:translateX(0) skewX(0);
        opacity:1
    }
}

@-o-keyframes timeChart {
    0% {
        -o-transform:translateX(100%) skewX(-15deg);
        opacity:0
    }
    60% {
        -o-transform:translateX(-1%) skewX(15deg);
        opacity:1
    }
    80% {
        -o-transform:translateX(0) skewX(-10deg);
        opacity:1
    }
    100% {
        -o-transform:translateX(0) skewX(0);
        opacity:1}
}

@keyframes timeChart {
    0% {
        transform:translateX(100%) skewX(-15deg);
        opacity:0
    }
    60% {
        transform:translateX(-1%) skewX(15deg);
        opacity:1}
    80% {
        transform:translateX(0) skewX(-10deg);
        opacity:1
    }
    100% {
        transform:translateX(0) skewX(0);
        opacity:1}
}

input,select {
    background:firebrick;
    border:0;
    color:floralwhite;
    padding:8px;
    outline:0;
    border-radius:20px;
    box-shadow:5px;
    text-align:center
}

input {
    width: 250px;
}

input[type=text] {
    padding:9px
}

input[type=text]:focus,input[type=submit]:hover,input[type=button]:hover,select:focus {
    opacity:.7;
    transition:opacity .2s linear;
    -webkit-transition:opacity .2s linear
}

input[type=button]:hover {
    cursor: pointer;
}

input::-webkit-input-placeholder {
    color:#fff
}

/*
input[type=submit] {
    background:black
}
*/

input[type=submit]:active,input[type=button]:active {
    opacity:.2;
    transition:opacity .1s linear;
    -webkit-transition:opacity .1s linear
}


h3 {
    margin:40px 0 0;
    font-size:1.4em
}

p {
    margin:10px 0 15px;
    font-size:15px;
    line-height:150%
}

#footer {
    font-size:11px;
    margin-bottom:10px
}

#footer ul {
    margin:0;
    padding:0
}

#footer a { 
    border:0;
    font-weight:700
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#badDataButton {
    background-color:firebrick;
    border:none;
    color:floralwhite;
    padding:8px;
    outline:0;
    border-radius:20px;
    box-shadow:5px;
    text-align:center;
    align-items: center;
    justify-content: center;
    display:none;
    margin: 10px -105px; 
    position:relative;
    top:50%; 
    left:50%;
}

#badTrackButtonContainer {
    text-align:center;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.button:hover {
    cursor: pointer;
}